<ion-header>
    <ion-navbar [color]="headerColor">
      <ion-title>
        <ion-grid>
          <ion-row align-items-center>
            <ion-col>
              <img class="logo" src="assets/imgs/logo_white.png" />
            </ion-col>
            <ion-col text-center>
              {{ this.selectedRoom?.name }}
            </ion-col>
            <ion-col text-center *ngIf="selectedRoom$ | async as room">
              {{ room.name }}
            </ion-col>
            <ion-col text-right>
              {{ this.headerTime.format('LTS') }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>


    <button ion-button (click)="onAdminClicked()">Admin</button>

    <ion-item>upcoming : {{ upcomingMeeting?.startDateTime.format('LT') }}</ion-item>
    <ion-item>current: {{ currentMeeting?.startDateTime.format('LT') }}</ion-item>

    <ion-grid class="content-grid" *ngIf="meeting">

      <ion-row text-center *ngIf="upcomingMeeting">
        <ion-col>
          <ion-item>
            Prochaine réunion : {{ meeting.meetingName }}
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row text-center *ngIf="meeting.meetingDescription">
        <ion-col>
          <ion-item>
            {{ meeting.meetingDescription }}
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row text-left>
        <ion-col>
          <ion-item>
            Organisateur : {{ meeting.owner.firstName }} {{ meeting.owner.lastName }}
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row text-left>
        <ion-col>
          <ion-item>
            Début : {{ meeting.startDateTime.format('LT') }}
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row text-left>
        <ion-col>
          <ion-item>
            Fin : {{ meeting.endDateTime.format('LT') }}
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>



  </ion-content>


