page-training {

  .logo{
    padding:5px;
    max-height: 60px;
  }
  .admin{
    position: absolute;
    z-index: 100;
    width: 100px;
    height: 50px;
  }

  //vincent
  .header-padding{
    padding-left: 10px;
    padding-right:10px;
  }
  .header-center-group{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    .header-room{
      display: flex;
      font-weight: 800;
      font-size: $font-size-big;
    }

    .header-capacity-icon{
      display: flex;
      margin-left: 25px;
    }
    .header-capacity-icon-img{
      height: $font-size-small;
    }
    .header-capacity{
      font-size: $font-size-small;
    }
  }

  .header-right-group{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;

    div{
      padding-right: 20px;
      // padding-left: 10px;
    }

    .header-date{
      font-weight: 300;
      font-size: $font-size-small;
    }

    .header-time{
      font-weight: 500;
      font-size: $font-size-small;
    }
    .header-langage-button{
      border: 1px solid white;
      border-radius: 3px;
      width: 42px;
      background-color: rgba($color: #FFF, $alpha: 0.0)
    }
  }

  .container {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .label {
    font-size: $font-size-very-small;
    font-weight: 200;
    padding-bottom: 5px;
  }
  .value {
    font-size: $font-size-small;
    font-weight: 500;
  }

  .middle {
    width: 90%;

    .wrapper {
      display: flex;
      flex-direction: column;
    }

    .training-title {
      font-size: $font-size-big;
      font-weight: 400;
      padding-top: 2%;
      padding-bottom: 2%;
    }

    .trainer {
      padding: 1%;
      background-color: color($colors, primary-light-training);
      border-radius: 5px;
    }
    .trainer-info {
      display: flex;
      flex-grow: 8;
    }
    .divider {
      height: 100%;
      border-right: 1px solid color($colors, primary);
      margin-right: 20px;
    }

  }

  .centering {
    align-items: center;
  }
  .centered {
    align-self: center;
  }
  .header-table {
    font-size: $font-size-very-small;
    font-weight: 200;
    border-bottom: 1pt solid color($colors, primary-light);
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .attendees {
    font-size: $font-size-small;
    border-bottom: 1pt solid color($colors, disabled);
    padding-top: 6px;
    padding-bottom: 4px;
    .name {
      font-weight: 500;
    }
    .company {
      font-weight: 300;
    }
  }

  .scroll-wrapper {
    height: 60%;
  }

  ion-scroll {
    height: 100%;
  }

}
