<ion-header>
  <ion-navbar [color]="headerColor">
    <ion-title>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col>
            <img class="logo" src="assets/imgs/logo_white.png" />
          </ion-col>
          <ion-col text-center>
            {{ this.selectedRoom?.name }}
          </ion-col>
          <ion-col text-center *ngIf="selectedRoom$ | async as room">
            <h4>{{ room.name }}</h4>
          </ion-col>
          <ion-col text-right>
            {{ this.headerTime.format('LTS') }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-navbar>


  <button ion-button outlined class="hidden" (click)="onAdminClicked()">&nbsp;</button>


  <ion-grid *ngIf="meeting">

    <ion-row text-center>
      <ion-col>
        <h4>
          {{ meeting.meetingName }} {{ meeting.meetingDescription }}
        </h4>
      </ion-col>
    </ion-row>

    <ion-row text-left>
      <ion-col>
        <div>
          Organisateur : {{ meeting?.owner.firstName }} {{ meeting?.owner.lastName }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row text-left>
      <ion-col>
        <div>
          De {{ meeting?.startDateTime.format('LT') }} à {{ meeting?.endDateTime.format('LT') }}
        </div>
      </ion-col>
    </ion-row>

<div padding>&nbsp;</div>

    <ion-row>
      <ion-col>
        <ion-icon  color="background" name="clipboard"></ion-icon>
      </ion-col>
      <ion-col>Prénom</ion-col>
      <ion-col>Nom</ion-col>
      <ion-col>Société</ion-col>
    </ion-row>
  </ion-grid>
  </ion-header>


<ion-content>

  <ion-grid>

    <ion-row *ngFor="let attendee of meeting?.attendies">
      <ion-col text-center>
        <ion-icon item-start *ngIf="this.isPresent(attendee) === null" color="background" name="help"></ion-icon>
        <ion-icon item-start *ngIf="this.isPresent(attendee) === false" color="danger" name="close"></ion-icon>
        <ion-icon item-start *ngIf="this.isPresent(attendee) === true" color="primary" name="checkmark"></ion-icon>
      </ion-col>
      <ion-col>{{attendee.firstName}}</ion-col>
      <ion-col>{{attendee.lastName}}</ion-col>
      <ion-col>{{attendee.company}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!--
    <button ion-button outlined class="hidden" (click)="onAdminClicked()">&nbsp;</button>
    <ion-grid *ngIf="meeting">

      <ion-row text-center>
        <ion-col>
          <ion-label>
            {{ meeting.meetingName }} {{ meeting.meetingDescription }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row text-left>
        <ion-col>
          <ion-label>
            Organisateur : {{ meeting?.owner.firstName }} {{ meeting?.owner.lastName }}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row text-left>
        <ion-col>
          <ion-label>
            Début : {{ meeting?.startDateTime.format('LT') }}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row text-left>
        <ion-col>
          <ion-label>
            Fin : {{ meeting?.endDateTime.format('LT') }}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

  <ion-content class="attendies" padding>


    <ion-list>
      <ion-list-header>Participants</ion-list-header>
      <ion-item *ngFor="let attendee of meeting?.attendies">
        <ion-icon item-start *ngIf="this.isPresent(attendee) === null" color="background" name="help"></ion-icon>
        <ion-icon item-start *ngIf="this.isPresent(attendee) === false" color="danger" name="close"></ion-icon>
        <ion-icon item-start *ngIf="this.isPresent(attendee) === true" color="primary" name="checkmark"></ion-icon>
        <ion-label>{{attendee.firstName}} {{attendee.lastName}}</ion-label>
        <p item-end>{{attendee.company}}</p>
      </ion-item>
    </ion-list>

</ion-content> -->
