page-training {
 .container{
  //  height: 100%;
  //  display: flex;
 }
  .trainingDesc{

  }
  .attendies{
    // margin-top:30%;
    // height:50%;
    // overflow:hidden;
  }

  .logo{
    padding:5px;
    max-height: 60px;
  }

.hidden{
  display: hidden;
  position:absolute;
  z-index: 100;

  background: transparent;
  border: none !important;
  box-shadow: none;
  font-size: 10px;
}

}
