page-booking {
  .button_container{
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
  }
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      font-size: $font-size-big;
      padding: 0.5em;
    }
  }

}
