<ion-content padding>



  <div class="wrapper" *ngIf="isEmployeeReady()">



    <div class="title-wrapper">
      <div class="title">
        {{'BOOKING.TITLE' | translate}}
      </div>
    </div>

    <div class="grid-wrapper">

      <ion-grid class="grid-elem">

        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-3 text-left class="label">
            {{'BOOKING.HOST' | translate}}
          </ion-col>
          <ion-col col-5 text-right class="value">
            {{ this.emp._firstName }} {{ this.emp._lastName }}
          </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-3 text-left class="label">
            {{'BOOKING.START' | translate}}
          </ion-col>
          <ion-col col-5 text-right class="value">
            {{ this.start.format('LT') }}
          </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-3 text-left class="label">
            {{'BOOKING.END' | translate}}
          </ion-col>
          <ion-col col-5 text-right class="value">
            {{ this.end.format('LT') }}
          </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>

      </ion-grid>


    </div>
    <!--
    <ion-list>

    <ion-item>
      <ion-label>{{'BOOKING.HOST' | translate}}</ion-label>
      <ion-label item-end> {{ this.emp._firstName }} {{ this.emp._lastName }}</ion-label>

    </ion-item>
    <ion-item>
      <ion-label>{{'BOOKING.START' | translate}}</ion-label>
      <ion-label item-end> {{ this.start.format('LT') }}</ion-label>

    </ion-item>
    <ion-item>
      <ion-label>{{'BOOKING.END' | translate}} </ion-label>
      <ion-label item-end> {{ this.end.format('LT') }}</ion-label>

    </ion-item>
    </ion-list> -->
    <ion-grid>
        <ion-row align-items-center>
          <ion-col col-2 text-center>
            <div tappable id="cancel" (click)="onCancelClicked()"> {{ "BOOKING.CANCEL" | translate }} </div>
          </ion-col>
          <ion-col col-8 text-center>
            <button ion-button block id="confirm" (click)="confirmBooking()">{{ "BOOKING.CONFIRM_BOOKING" | translate }} </button>
          </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>
      </ion-grid>

<!--
    <div class="button_container">
      <button ion-button color='primary' type="submit" (click)="confirmBooking()">{{'BOOKING.CONFIRM' | translate}}
      </button>
      <button ion-button color='danger' (click)="onCancelClicked()">{{'BOOKING.CANCEL' | translate}} </button>
    </div>-->
  </div>

  <div class="wrapper" *ngIf="!isEmployeeReady()">
    <div class="title-wrapper">
      <div class="title">
        {{'BOOKING.TITLE' | translate}}
      </div>
    </div>

    <ion-pincode [isPinInClearText]="this.isPinInClearText" (pincodeSubmitted)="onPinSubmit($event)" (pincodeCancelled)="onPinCancel($event)"></ion-pincode>

    <!-- <button ion-button color='danger' (click)="onCancelClicked()">{{'BOOKING.CANCEL' | translate}} </button> -->
  </div>

</ion-content>
