<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon name="quote"></ion-icon>
          Logo
        </ion-col>
        <ion-col text-center>
          {{ this.selectedRoom?.name }}
        </ion-col>
        <ion-col text-center *ngIf="selectedRoom$ | async as room">
          {{ room.name }}
        </ion-col>
        <ion-col text-right>
          {{ this.headerTime.format('LTS') }}
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-button (click)="onAdminClicked()">Admin</button>


  <ion-grid *ngIf="currentMeeting">
    <ion-col>
      <ion-row text-center *ngIf="currentMeeting.meetingName">
        {{ currentMeeting.meetingName }}
      </ion-row>
      <ion-row text-center  *ngIf="currentMeeting.meetingDescription">
        {{ currentMeeting.meetingDescription }}
      </ion-row>
      <ion-row text-left>
        Organisateur : {{ currentMeeting.owner.firstName }}  {{ currentMeeting.owner.lastName }}
      </ion-row>
      <ion-row text-left>
        Début : {{ currentMeeting.startDateTime.format('LT') }}
      </ion-row>
      <ion-row text-left>
        Fin : {{ currentMeeting.endDateTime.format('LT') }}
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-navbar>
    <ion-grid class="scroll">
      <ion-row nowrap>

        <ion-col text-center *ngFor="let dadate of dateArray">
          <hour-scroll-button [date]="dadate"></hour-scroll-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-footer>
