<ion-header no-shadow no-border (click)="this.tapHandler()">
  <ion-navbar [color]="headerColor">
    <ion-title>
      <ion-grid>
        <ion-row align-items-center>
          <!-- <ion-col></ion-col> -->
          <ion-col text-left>
            <img class="logo" src="assets/imgs/logo_white.png" />
          </ion-col>
          <ion-col text-center align-item-center class="header-center-group">
            <div class="header-room">
              {{ this.selectedRoom?.name }}
            </div>

            <div class="header-capacity-icon" *ngIf="this.selectedRoom?.capacity">
              <img src="assets/icon/icon_RoomSize.svg" alt="" class="header-capacity-icon-img">
            </div>

            <div class="header-capacity">
               {{ this.selectedRoom?.capacity }}
              </div>

          </ion-col>

          <ion-col text-right >
            <div class="header-right-group">

              <div class="header-date">
                {{this.headerTime.format('L')}}
              </div>
              <div class="header-time">
                {{ this.headerTime.format('LT') }}
              </div>
              <button ion-button class="header-langage-button">en</button>
            </div>
            </ion-col>
          <!-- <ion-col></ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>


<div class="overlay"  (click)="this.removeOverlay()" tappable *ngIf="this.selectedRoom && currentStatus === PageStates.FREE && this.isOverlayDisplayed">
  <div class="overlay-opacity">

    <div class="overlay-container">
      <div class="overlay-room">
        {{ this.selectedRoom?.name }}
      </div>
      <div *ngIf="this.selectedRoom?.capacity">
        <div class="overlay-capacity-icon">
          <img src="assets/icon/icon_RoomSize.svg" alt="" class="overlay-capacity-icon-img">
          {{ this.selectedRoom?.capacity }}
        </div>


      </div>
      <div>
        <i>
          {{ 'HOME_PAGE.OVERLAY_HELPER' | translate }}
        </i>
      </div>
    </div>
  </div>
  </div>

<ion-content (click)="this.tapHandler()">

  <div class="admin" (click)="onAdminClicked()" tappable></div>



  <ion-grid class="content-grid" *ngIf="this.selectedRoom && currentStatus === PageStates.FREE">


  </ion-grid>



  <div id="subheader-container" [class]="this.subHeaderTheme" *ngIf="meeting">
    <ion-grid class="subheader-row">
      <ion-row>
        <ion-col></ion-col>
        <ion-col col-5>

          <div class="host-label">
            &nbsp;
          </div>
          <div>
            {{ meeting.meetingName }}
          </div>

        </ion-col>
        <ion-col col-5 text-right>
          <div class="host-label">
            {{ 'HOME_PAGE.HOST' | translate }}
          </div>
          <div>
            {{ meeting.owner.firstName }} {{ meeting.owner.lastName }}
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div id="progressbar-container" *ngIf="currentStatus === PageStates.OCCUPIED">
    <ion-grid class="progressbar-grid">
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col text-left>
          <div class="host-label">
            {{ 'HOME_PAGE.BEGIN' | translate }}
          </div>
          <div>
            {{ meeting.startDateTime.format('LT') }}
          </div>

        </ion-col>
        <ion-col col-6></ion-col>
        <ion-col text-right>
          <div class="host-label">
            {{ 'HOME_PAGE.END' | translate }}
          </div>
          <div>
            {{ meeting.endDateTime.format('LT') }}
          </div>

        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8>
          <div class="progress-container">
            <span class="progress progress-past" [style.width]="getProgress()">
            </span>
            <span class="progress progress-future">
            </span>
          </div>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
      <ion-row text-center align-items-center>
        <ion-col>
          <button [color]="headerColor" ion-button (click)="endNow()">
            {{ 'HOME_PAGE.END_NOW' | translate }}
          </button>
        </ion-col>
        <ion-col>
          <button [color]="headerColor" ion-button>
            {{ 'HOME_PAGE.EXTEND' | translate }}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div class="upcoming-container" *ngIf="currentStatus === PageStates.PENDING">
    <ion-grid class="upcoming-grid">
      <ion-row text-center align-items-center>
        <ion-col>
          <div>
            {{ 'HOME_PAGE.NEXT_MEETING_IN' | translate }}
          </div>
          <div>
            {{ nextMeetingCountDown() }} {{ 'HOME_PAGE.MINUTES' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row text-center align-items-center>
        <ion-col>
          <button [color]="headerColor" ion-button (click)="this.startNow()">
            {{ 'HOME_PAGE.START_NOW' | translate }}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="upcoming-container" *ngIf="!this.selectedRoom">
    <ion-grid class="upcoming-grid">
      <ion-row text-center align-items-center>
        <ion-col>
          <div>
            {{ 'HOME_PAGE.NOT_CONFIGURED' | translate }}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>




<ion-footer no-shadow no-border transparent *ngIf="this.selectedRoom" (click)="this.tapHandler()">
  <!-- <ion-navbar > -->

  <ion-grid class="bottom-elements" background>
    <div class="scroll-wrapper">
      <ion-row align-items-center>
        <ion-col class="arrows" text-left col-2>
          <button  class="left-button" ion-button (click)="this.scrollLeft()"> &larr;</button>
        </ion-col>
        <ion-col text-center>
          {{ this.helperLabel }} &darr;
        </ion-col>
        <ion-col class="arrows" text-right col-2>
            <button class="right-button" ion-button (click)="this.scrollRight()"> &rarr;</button>
        </ion-col>
      </ion-row>
    </div>
    <div class="scroll-wrapper">
      <ion-row nowrap #buttonBar class="scroll">
        <ion-col text-center  *ngFor="let dadate of dateArray">
          <hour-scroll-button [date]="dadate"></hour-scroll-button>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>
  <!-- </ion-navbar> -->
</ion-footer>
