<!--
  Generated template for the AdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <ion-title>admin</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-item>
          <ion-label>Sites</ion-label>
          <ion-select [(ngModel)]="this.selectedSite" (ionChange)="onSiteChange()"  [compareWith]="compareSite">
            <ion-option *ngFor="let sisite of sites" [selected]="this.selectedSite?.Id===sisite.Id" [value]="sisite">{{ sisite.name }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Rooms</ion-label>
          <ion-select  [(ngModel)]="this.selectedRoom"  (ionChange)="onRoomChange()"  [compareWith]="compareRoom">
            <ion-option *ngFor="let room of rooms" [selected]="this.selectedRoom?.Id===room.Id" [value]="room">{{ room.name }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col text-center>
        <button ion-button icon-start (click)="onConfirmClicked()">
          <ion-icon name="checkmark-circle"></ion-icon>
          Confirmer
        </button>
      </ion-col>

      <ion-col text-center>
        <button ion-button icon-start color="danger" (click)="onCancelClicked()">
          <ion-icon name="close-circle"></ion-icon>
          Annuler
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
